@{
    ViewBag.Title = "About";
}


<style>

    #aboutImg 
    {
        align-content:center;
        align-items:center;
        text-align:center;
        margin-top: 5%;
    }

    #textAbout 
    {
        text-align:left;
        width: 50%;
    }

   

</style>


<div class="container-fluid" id="aboutImg">

    <img src="https://2k8r3p1401as2e1q7k14dguu-wpengine.netdna-ssl.com/wp-content/themes/warontherocks/assets/img/page/title-about.png" alt="">

    <br /><br /><br />

    <div class="alert alert-success container" role="alert" id="textAbout">
        <strong>Este proyecto es un programa para el manejo y control de inventraio de X empresa, el proyecto sigue fielmente
        lo que es la lógica de negocios y la lógica de roles (Administrador - Usuario). Cada usuario registrado es presentado
        con el rol "User" lo que provaca que tenga ciertas resstringciones en el uso de programa. El proyecto también presenta
        lo que seria la logica de servicios Web Api en donde las consultas con enviadas mediante un servicio y consumidas gracias
        a JavaScript y Ajax. El proyecto es 100% funcional y esta listo para el manejo de inventario de cualquier empresa que lo
        necesite.<br /><br />
        
        Para hacer mejores pruebas en este proyecto he decidido dejar el usuario administrador por medio de este apartado para que
        no haya ningún problema en las pruebas preliminares.<br /><br />

        Usuarios Administrador : moreiraerick1@hotmail.com<br />
        Contraseña Administrador: Erick123<br /><br />

        Visita mi apartado de GidHub para poder evaluar el codigo de este proyecto: 
       <a href="https://github.com/ErickM1992/MarketPlace" target="_blank"> <span class="glyphicon glyphicon-gift btn btn-info btn-lg" aria-hidden="true">GitHub</span></a>
        </strong>
    </div>
</div>























