
<style>
    #aboutImg {
        align-content: center;
        align-items: center;
        text-align: center;
        margin-top: 5%;
    }

    #textAbout {
        text-align: left;
        width: 50%;
    }



    .colorFont {
        color:aliceblue;
    }

</style>




<div class="container-fluid" id="aboutImg">


    <img src="http://alfonsopinkus.com/wp-content/uploads/2015/03/Contactame.jpg" alt="">

    <br /><br /><br />




                <div class="card card-inverse" style="background-color: #333; border-color: #333;">
                    <div class="card-block">
                        <h3 class="card-title colorFont">¿Quíeres contactarme?</h3>
                        <p class="card-text colorFont">Si deseas contactarme lo puedes hacer desde cualquiera de mis redes sociales.</p>
                        <a href="https://github.com/ErickM1992/MarketPlace" target="_blank"> <span class="glyphicon glyphicon-gift btn btn-primary btn-lg" aria-hidden="true"> GitHub</span></a>
                        <a href="https://www.facebook.com/ErickMoreiraB?ref=bookmarks" target="_blank"> <span class="glyphicon glyphicon-user btn btn-primary btn-lg" aria-hidden="true"> FaceBook</span></a>
                        <a href="https://twitter.com/ErickMoreiraB" target="_blank"> <span class="glyphicon glyphicon-plane btn btn-primary btn-lg" aria-hidden="true"> Twiter</span></a>
                        <br /><br />
                        <span class="glyphicon glyphicon-envelope  btn-success btn-lg" aria-hidden="true"> Correo Electrónico: moreiraerick1@hotmail.com</span>
                        <br /><br />
                    </div>
                </div>




</div>














